/* Currently, omuecon only supports variables for :root */
:root {
  --corp-color: #a25678;
  --base-font-color: black;
  --article-width: 660px;
  --h2-bg-color: #eee;
}

body {
  max-width: var(--article-width);
  font-family: sans-serif;
  color: var(--base-font-color);
  margin: auto;
  padding: 0 1em;
  line-height: 160%;
  margin-bottom: 100px;
}

h1 {
   text-align: center;
   font-size:2.2em;
   line-height: 170%;
   padding: 1em auto;
   margin-bottom: 0.4em;
}

h2 {
   font-size:1.7em;
   line-height: 150%;
   margin-top: 1.3em;
   margin-bottom: 1em;
   border-left: solid 15px var(--corp-color);
   padding-top: 0.3em;
   padding-bottom: 0.3em;
   padding-left: 15px;
   background-color: var(--h2-bg-color);
}

h3 {
   font-size:1.4em;
   padding-bottom: 0.2em;
   padding-left: 8px;
   margin-top: 1.5em;
   border-bottom: solid 2px var(--corp-color);
}

h4 {
   font-size:1.3em;
   padding-left: 8px;
   padding-bottom: 0.2em;
   border-bottom: solid 2px #ddd;
   margin-top: 20px;
   margin-bottom: 15px;
   margin-left: 10px;
   width: 40%;
}

h5, h6 {
   font-size: 1em;
   padding-left: 8px;
}

p {
  padding: 0.5em 8px;
  margin: 0 2px;
}

a:visited {
   color: rgb(50%, 0%, 50%);
}

pre, img {
   max-width: 100%;
}
img {
   display: block;
   margin: 10px auto;
}

/* Code */

tt, code, pre {
   font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace;
}

pre {
  font-size: 13px;
  overflow-x: auto;
  margin: 15px 10px;
  padding: 5px;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #F5F5F5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
pre code {
   display: block;
   padding: 0 8px;
}

/* table */

table {
   border-collapse: collapse;
   margin: 0.8em auto;
}

th, td {
    border: solid 1px;
    padding: 7px;
}

/* lists */

ul, ol {
  margin-top: 15px;
  margin-bottom: 15px;
}

li {
   line-height: 150%;
   padding: 0;
   margin: 0;
   margin-bottom: 5px;
}


/* Other styles */
blockquote {
   color:#666666;
   border-left: 0.5em #EEE solid;
   padding: 7px;
   margin: 10px 2em;
}

blockquote p {
   font-size: 1.1em;
   font-style: italic;
   font-size: 14px;
   padding: 0;
   margin: 0;
}

hr {
   height: 0px;
   border-bottom: none;
   border-top-width: thin;
   border-top-style: dotted;
   border-top-color: #999999;
}

.math {
  text-align: center;
}

* > :first-child { margin-top: 0 !important; }
